body {
	padding: 20px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 12px;
}
.line {
  fill: none;
  stroke-width: 1.5px;
}
.line0 {
  stroke: steelblue;
}
.line1 {
  stroke: red;
}
.line2 {
  stroke: green;
}
.chart[data-chart-type="minmax"] .line1 {
	fill: #FFA340;
	stroke: none;
}
.linesquare {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.line0 .linesquare {
	background-color: steelblue;
}
.line1 .linesquare {
	background-color: red;
}
.line2 .linesquare {
	background-color: green;
}
.chart[data-chart-type="minmax"] .line1 .linesquare {
	background-color: #FFA340
}
.line.selected {
	stroke: #888888;
}
.bar.line.selected {
	fill: #888888;
}
.dot.selected {
	fill: #888888;
}
.dot0 {
	fill: steelblue;
}
.dot1 {
	fill: red;
}
.dot2 {
  fill: green;
}
.bar0 {
  fill: steelblue;
}
.bar1 {
  fill: red;
}
.bar2 {
  fill: green;
}
.spreadsheet {
	display: none;
}
.tipsy h6 {
  text-align: left;
}
.tooltip0 {
  color: steelblue;
}
.tooltip1 {
  color: red;
}
.tooltip2 {
  color: green;
}
.minmax.tooltip1 {
	color: #FFA340;
}
.lines {
  padding: 10px 0;
  margin-left: 50px;
  border-bottom: 1px solid #e0e0e0;
}
.lines ul {
	margin: 0;
	padding: 0;
}
.lines li {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-right: 30px;
  cursor: pointer;
  border-radius: 2px;
}

.lines li.selected {
	color: black;
}
.lines li.hidden div {
	background-color: #888888;
}
.lines li.selected:not(.hidden) div {
	background-color: #888888 !important;
}
.lines li.line0.hidden.selected div {
	background-color: steelblue;
}
.lines li.line1.hidden.selected div {
	background-color: red;
}
.lines li.line2.hidden.selected div {
	background-color: green;
}
.chart[data-chart-type="minmax"] li.line1.hidden.selected div {
	background-color: #FFA340 !important;
}
.chart[data-chart-type="minmax"] .lines li.hidden div {
	background-color: #888888;
}

.selection {
	padding: 10px;
	margin-left: 40px;
	margin-top: 5px;
}

.selection select {
	width: 0;
	min-width: 150px;
	margin-right: 10px;
}

.selection input {
	width: 0;
	min-width: 110px;
}

.resolution {
	display: none;
}

input.from,
input.to {
	cursor: pointer;
}

.calendar {
	margin-right: 10px;
	cursor: pointer;
}

.nextPeriode,
.prevPeriode {
	display: inline-block;
	cursor: pointer;
	margin-right: 10px;
	font-size: 18px;
}

select.tso {
	margin-right: 35px;
}

svg.legend {
	margin-left: 25px;
}

.infobox {
  padding: 10px 0;
  margin-left: 50px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 5px;
}

.infobox table td {
	padding-right: 30px;
}
