body {
	padding: 20px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 12px;
}
.line {
  fill: none;
  stroke-width: 1.5px;
}
.line0 {
  stroke: steelblue;
}
.line1 {
  stroke: red;
}
.line2 {
  stroke: green;
}
.dot0 {
	fill: steelblue;
}
.dot1 {
	fill: red;
}
.dot2 {
  fill: green;
}
.spreadsheet {
	display: none;
}
.tipsy h6 {
  text-align: left;
}
.tooltip0 {
  color: steelblue;
}
.tooltip1 {
  color: red;
}
.tooltip2 {
  color: green;
}
