svg {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 12px;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}
.line0 {
  stroke: steelblue;
}
.line1 {
  stroke: red;
}
.line2 {
  stroke: green;
}
.dot0 {
  fill: steelblue;
}
.dot1 {
  fill: red;
}
.dot2 {
  fill: green;
}
.bar0 {
  fill: steelblue;
}
.bar1 {
  fill: red;
}
.bar2 {
  fill: green;
}
.tooltip0 {
  color: steelblue;
}
.tooltip1 {
  color: red;
}
.tooltip2 {
  color: green;
}

.line.selected {
	stroke: #888888;
}
.bar.line.selected {
	stroke: #888888;
	fill: #888888;
}
.dot.selected {
	stroke: #888888;
	fill: #888888;
}

[data-chart-type="minmax"] rect.line1 {
	stroke: #FFA340;
	fill: #FFA340;
}
