body {
	padding: 20px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 12px;
}
.line {
  fill: none;
  stroke-width: 1.5px;
}
.line0 {
  stroke: steelblue;
  color: steelblue;
}
.line1 {
  stroke: red;
  color: red;
}
.line2 {
  stroke: green;
  color: green;
}
.dot0 {
	fill: steelblue;
}
.dot1 {
	fill: red;
}
.dot2 {
  fill: green;
}
.spreadsheet {
	display: none;
}
.tipsy h6 {
  text-align: left;
}
.tooltip0 {
  color: steelblue;
}
.tooltip1 {
  color: red;
}
.tooltip2 {
  color: green;
}
.lines {
  padding: 20px;
}
.lines li {
  display: inline;
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid #444;
  cursor: pointer;
}

.lines li.hidden {
  color: #888888;
}

.lines li.selected {
  background-color: #e0e0e0;
}
