# Enwida properties

db.driver=org.postgresql.Driver
db.url=jdbc:postgresql://localhost:5432/enwida
db1.url=jdbc:postgresql://localhost:5432/enwida
db.user=enwida
db.pw=adi1new
db.delimiter=;

db_slave.driver=org.postgresql.Driver
db_slave.url=jdbc:postgresql://enwida.de:5432/enwida
db_slave.user=enwida
db_slave.pw=adi1new

sync_remote.host=enwida.de
sync_remote.dir=/home/enwida/sync
sync_remote.user=enwida
sync_remote.pw=adi1new


#webapp path to ROOT.war, is touched programmatical to trigger reload
webapp.path.war=/var/lib/tomcat6/webapps/ROOT.war


#Enwida mailing
mail.smtp.starttls.enable=true
mail.smtp.host=smtp.gmail.com
mail.smtp.user=enwidaTest@gmail.com
mail.smtp.password=adi1newnew
mail.smtp.port=587
mail.smtp.auth=true
