#Modified by Crawler for switching the DBs (Fri Mar 01 06:35:18 CET 2013)
# Enwida properties

db.driver=org.postgresql.Driver
db1.url=jdbc:postgresql://localhost:5432/enwida
db2.url=jdbc:postgresql://localhost:5432/enwida
db.user=enwida
db.pw=adi1new


#Enwida mailing
mail.smtp.starttls.enable=true
mail.smtp.host=smtp.gmail.com
mail.smtp.user=olcay.tarazan@gmail.com
mail.smtp.password=q12wQ!"W
mail.smtp.port=587
mail.smtp.auth=true

