---
layout: default
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/toc.css" />
<script src="{{ site.baseurl }}/js/table_of_contents.js"></script>

<div class="content">
  <div class="row">
    <div class="col-xs-3">
      <div class="sidebar" data-spy="affix">
      </div>
    </div>
    <div class="col-xs-9">
      <div class="page-header">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="content">
        <div class="toc">
        </div>
        {{ content }}
      </div>
    </div>
  </div>
</div>
